In [3]:
import pandas as pd
# set to display all columns
pd.set_option('display.max_columns', None)
# set to print on one line
pd.set_option('display.width', 1000)

In [4]:
dataset="MPDocVQA"

# QUR - LLM

In [3]:
order_colums=['Phi', 'Qwen', 'Molmo', 'InternVL', 'DocOwl', 'Ovis', 'Llama', 'Gemma27', 'Llava34']

In [4]:
df_QUR= pd.read_csv(f'results_w1/results/QUR.csv', index_col=0)
# sort df_QUR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_QUR=df_QUR[order_colums]
# take row QUR, keeping the dataframe of 1 row and N columns
df_QUR=df_QUR.loc[['QUR']] #,'QUR_C1','QUR_C2','QUR_C3']]
df_QUR

          Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
QUR  0.093596  0.490148  0.339901  0.226601  0.014778  0.216749  0.325123  0.394089  0.357143

In [5]:
# df_QUR_to_latex = df_QUR.to_latex(f'table/{dataset}_AccD.tex',index=True, float_format="%.3f", escape=False)

In [6]:
df_DED = pd.read_csv('results_w1/results/QUR_DED.csv', index_col=0)
df_DED = df_DED[order_colums]
df_DED

            Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
<15    0.085635  0.491713  0.353591  0.229282  0.016575  0.226519  0.331492  0.392265  0.339779
15-25  0.058824  0.352941  0.117647  0.058824  0.000000  0.117647  0.176471  0.470588  0.588235
>25    0.222222  0.555556  0.296296  0.296296  0.000000  0.148148  0.333333  0.370370  0.444444

In [7]:
# weights = {
# '<15': 0.6684491978609626,
# '>25': 0.22459893048128343,
# '15-25': 0.10695187165775401
# }
weights = {'<15': 1.0, '15-25': 0.16, '>25': 0.336}
index_list = list(weights.keys())
index_list

['<15', '15-25', '>25']

In [8]:
normalized_DED = pd.DataFrame(columns=order_colums)
for i, row in df_DED.iterrows():
    # print(i,row.values)
    normalized_row = row.values*weights[i]
    normalized_DED.loc[len(normalized_DED)] = normalized_row
normalized_DED.index = index_list
normalized_DED = normalized_DED.reindex(['<15', '15-25', '>25'])
normalized_DED

            Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
<15    0.085635  0.491713  0.353591  0.229282  0.016575  0.226519  0.331492  0.392265  0.339779
15-25  0.009412  0.056471  0.018824  0.009412  0.000000  0.018824  0.028235  0.075294  0.094118
>25    0.074667  0.186667  0.099556  0.099556  0.000000  0.049778  0.112000  0.124444  0.149333

In [9]:
df_PL = pd.read_csv('results_w1/results/QUR_PL.csv', index_col=0)
df_PL = df_PL.sort_index(ascending=True)
df_PL = df_PL[order_colums]
df_PL

         Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
1   0.095238  0.500000  0.285714  0.238095  0.023810  0.309524  0.380952  0.452381  0.714286
2   0.054054  0.500000  0.283784  0.108108  0.027027  0.148649  0.270270  0.472973  0.500000
3   0.100000  0.525000  0.350000  0.300000  0.000000  0.175000  0.375000  0.550000  0.450000
4   0.052632  0.473684  0.263158  0.236842  0.000000  0.236842  0.236842  0.578947  0.605263
5   0.028571  0.485714  0.257143  0.314286  0.000000  0.342857  0.342857  0.285714  0.171429
6   0.228571  0.542857  0.428571  0.371429  0.000000  0.400000  0.428571  0.485714  0.371429
7   0.083333  0.666667  0.333333  0.333333  0.000000  0.250000  0.416667  0.583333  0.083333
8   0.117647  0.470588  0.470588  0.176471  0.058824  0.470588  0.411765  0.529412  0.235294
9   0.176471  0.470588  0.294118  0.294118  0.058824  0.058824  0.352941  0.294118  0.235294
10  0.272727  0.636364  0.454545  0.272727  0.000000  0.272727  0.363636  0.272727  0.363636
11  1.000000  1.000000  0.800000  0.800000  0.000000  0.400000  0.400000  1.000000  0.200000
13  0.000000  0.500000  0.222222  0.055556  0.000000  0.000000  0.444444  0.111111  0.000000
14  0.250000  0.000000  0.250000  0.000000  0.000000  0.000000  0.000000  0.000000  0.250000
15  0.000000  0.000000  0.000000  0.200000  0.000000  0.000000  0.000000  0.200000  0.000000
17  0.000000  0.250000  0.416667  0.027778  0.027778  0.027778  0.083333  0.083333  0.083333
20  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
21  0.000000  0.800000  0.700000  0.400000  0.000000  0.400000  0.600000  0.000000  0.000000
40  0.000000  0.800000  0.800000  0.600000  0.000000  0.000000  0.800000  0.000000  0.000000

In [10]:
# remove rows linked to index values 4,5,11,12
df_PL = df_PL.drop(index=[5,6,17,20])
df_PL

         Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
1   0.095238  0.500000  0.285714  0.238095  0.023810  0.309524  0.380952  0.452381  0.714286
2   0.054054  0.500000  0.283784  0.108108  0.027027  0.148649  0.270270  0.472973  0.500000
3   0.100000  0.525000  0.350000  0.300000  0.000000  0.175000  0.375000  0.550000  0.450000
4   0.052632  0.473684  0.263158  0.236842  0.000000  0.236842  0.236842  0.578947  0.605263
7   0.083333  0.666667  0.333333  0.333333  0.000000  0.250000  0.416667  0.583333  0.083333
8   0.117647  0.470588  0.470588  0.176471  0.058824  0.470588  0.411765  0.529412  0.235294
9   0.176471  0.470588  0.294118  0.294118  0.058824  0.058824  0.352941  0.294118  0.235294
10  0.272727  0.636364  0.454545  0.272727  0.000000  0.272727  0.363636  0.272727  0.363636
11  1.000000  1.000000  0.800000  0.800000  0.000000  0.400000  0.400000  1.000000  0.200000
13  0.000000  0.500000  0.222222  0.055556  0.000000  0.000000  0.444444  0.111111  0.000000
14  0.250000  0.000000  0.250000  0.000000  0.000000  0.000000  0.000000  0.000000  0.250000
15  0.000000  0.000000  0.000000  0.200000  0.000000  0.000000  0.000000  0.200000  0.000000
21  0.000000  0.800000  0.700000  0.400000  0.000000  0.400000  0.600000  0.000000  0.000000
40  0.000000  0.800000  0.800000  0.600000  0.000000  0.000000  0.800000  0.000000  0.000000

In [11]:
df_PL['index'] = pd.cut(df_PL.index, bins=[0, 4, 8, 100], labels=['<4pg', '4pg-8pg', '>8pg'])
df_PL = df_PL.groupby('index').mean()
index_list = ['<4pg', '4pg-8pg', '>8pg']
df_PL

/tmp/ipykernel_185365/729160994.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_PL = df_PL.groupby('index').mean()

              Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
index
<4pg     0.075481  0.499671  0.295664  0.220761  0.012709  0.217504  0.315766  0.513575  0.567387
4pg-8pg  0.100490  0.568627  0.401961  0.254902  0.029412  0.360294  0.414216  0.556373  0.159314
>8pg     0.212400  0.525869  0.440111  0.327800  0.007353  0.141444  0.370128  0.234745  0.131116

In [12]:
df_NLPE = pd.read_csv('results_w1/results/QUR_NLPE.csv', index_col=0)
df_NLPE = df_NLPE[order_colums]
df_NLPE

                Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
NUMERIC    0.047619  0.442177  0.340136  0.170068  0.013605  0.163265  0.340136  0.299320  0.312925
TEMPORAL   0.063830  0.638298  0.510638  0.255319  0.021277  0.276596  0.553191  0.382979  0.340426
ENTITY     0.051780  0.420712  0.255663  0.197411  0.006472  0.207120  0.297735  0.343042  0.368932
LOCATION   0.215385  0.684615  0.453846  0.353846  0.015385  0.307692  0.346154  0.607692  0.430769
STRUCTURE  0.029412  0.235294  0.264706  0.205882  0.029412  0.176471  0.264706  0.264706  0.411765

In [13]:
# create df_total where yoystack df_QUR["QUR"], df_DED, df_PL, df_NLPE
df_total = pd.concat([df_QUR, normalized_DED, df_PL, df_NLPE], axis=0)
df_total

                Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
QUR        0.093596  0.490148  0.339901  0.226601  0.014778  0.216749  0.325123  0.394089  0.357143
<15        0.085635  0.491713  0.353591  0.229282  0.016575  0.226519  0.331492  0.392265  0.339779
15-25      0.009412  0.056471  0.018824  0.009412  0.000000  0.018824  0.028235  0.075294  0.094118
>25        0.074667  0.186667  0.099556  0.099556  0.000000  0.049778  0.112000  0.124444  0.149333
<4pg       0.075481  0.499671  0.295664  0.220761  0.012709  0.217504  0.315766  0.513575  0.567387
4pg-8pg    0.100490  0.568627  0.401961  0.254902  0.029412  0.360294  0.414216  0.556373  0.159314
>8pg       0.212400  0.525869  0.440111  0.327800  0.007353  0.141444  0.370128  0.234745  0.131116
NUMERIC    0.047619  0.442177  0.340136  0.170068  0.013605  0.163265  0.340136  0.299320  0.312925
TEMPORAL   0.063830  0.638298  0.510638  0.255319  0.021277  0.276596  0.553191  0.382979  0.340426
ENTITY     0.051780  0.420712  0.255663  0.197411  0.006472  0.207120  0.297735  0.343042  0.368932
LOCATION   0.215385  0.684615  0.453846  0.353846  0.015385  0.307692  0.346154  0.607692  0.430769
STRUCTURE  0.029412  0.235294  0.264706  0.205882  0.029412  0.176471  0.264706  0.264706  0.411765

In [14]:
# save to latex
df_total.to_latex(f'table/{dataset}_QUR.tex', index=True, float_format="%.3f", escape=False)

# QUR - LM

In [5]:
order_colums=['Udop', 'LayoutLMv3', 'Blip']

In [6]:
df_QUR= pd.read_csv(f'results_LM_w1/results/QUR.csv', index_col=0)
# sort df_QUR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_QUR=df_QUR[order_colums]
# take row QUR, keeping the dataframe of 1 row and N columns
df_QUR=df_QUR.loc[['QUR']] #,'QUR_C1','QUR_C2','QUR_C3']]
df_QUR

         Udop  LayoutLMv3      Blip
QUR  0.049261    0.061576  0.064039

In [7]:
# df_QUR.to_latex(f'table/{dataset}_AccD_LM.tex',index=True, float_format="%.3f", escape=False)

In [8]:
df_DED = pd.read_csv('results_LM_w1/results/QUR_DED.csv', index_col=0)
df_DED = df_DED[order_colums]
df_DED

           Udop  LayoutLMv3      Blip
<15    0.035912    0.052486  0.049724
15-25  0.294118    0.294118  0.058824
>25    0.074074    0.037037  0.259259

In [9]:
weights = {'<15': 1.0, '15-25': 0.16, '>25': 0.336}
index_list = list(weights.keys())
index_list

['<15', '15-25', '>25']

In [10]:
normalized_DED = pd.DataFrame(columns=order_colums)
for i, row in df_DED.iterrows():
    # print(i,row.values)
    normalized_row = row.values*weights[i]
    normalized_DED.loc[len(normalized_DED)] = normalized_row
normalized_DED.index = index_list
normalized_DED = normalized_DED.reindex(['<15', '15-25', '>25'])
normalized_DED

           Udop  LayoutLMv3      Blip
<15    0.035912    0.052486  0.049724
15-25  0.047059    0.047059  0.009412
>25    0.024889    0.012444  0.087111

In [11]:
df_PL = pd.read_csv('results_LM_w1/results/QUR_PL.csv', index_col=0)
df_PL = df_PL.sort_index(ascending=True)
df_PL = df_PL[order_colums]
df_PL

        Udop  LayoutLMv3      Blip
1   0.142857    0.190476  0.309524
2   0.094595    0.067568  0.013514
3   0.075000    0.100000  0.025000
4   0.052632    0.078947  0.078947
5   0.028571    0.000000  0.057143
6   0.028571    0.000000  0.000000
7   0.000000    0.000000  0.166667
8   0.000000    0.235294  0.000000
9   0.000000    0.000000  0.058824
10  0.000000    0.000000  0.272727
11  0.000000    0.000000  0.000000
13  0.000000    0.000000  0.000000
14  0.000000    0.000000  0.000000
15  0.000000    0.000000  0.000000
17  0.000000    0.027778  0.000000
20  0.000000    0.000000  0.000000
21  0.000000    0.000000  0.000000
40  0.000000    0.000000  0.000000

In [12]:
# remove rows linked to index values 4,5,11,12
df_PL = df_PL.drop(index=[5,6,17,20])
df_PL

        Udop  LayoutLMv3      Blip
1   0.142857    0.190476  0.309524
2   0.094595    0.067568  0.013514
3   0.075000    0.100000  0.025000
4   0.052632    0.078947  0.078947
7   0.000000    0.000000  0.166667
8   0.000000    0.235294  0.000000
9   0.000000    0.000000  0.058824
10  0.000000    0.000000  0.272727
11  0.000000    0.000000  0.000000
13  0.000000    0.000000  0.000000
14  0.000000    0.000000  0.000000
15  0.000000    0.000000  0.000000
21  0.000000    0.000000  0.000000
40  0.000000    0.000000  0.000000

In [13]:
df_PL['index'] = pd.cut(df_PL.index, bins=[0, 4, 8, 100], labels=['<4pg', '4pg-8pg', '>8pg'])
df_PL = df_PL.groupby('index').mean()
index_list = ['<4pg', '4pg-8pg', '>8pg']
df_PL

/tmp/ipykernel_186633/729160994.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_PL = df_PL.groupby('index').mean()

             Udop  LayoutLMv3      Blip
index
<4pg     0.091271    0.109248  0.106746
4pg-8pg  0.000000    0.117647  0.083333
>8pg     0.000000    0.000000  0.041444

In [14]:
df_NLPE = pd.read_csv('results_LM_w1/results/QUR_NLPE.csv', index_col=0)
df_NLPE = df_NLPE[order_colums]
df_NLPE

               Udop  LayoutLMv3      Blip
NUMERIC    0.034014    0.027211  0.068027
TEMPORAL   0.042553    0.021277  0.000000
ENTITY     0.032362    0.064725  0.064725
LOCATION   0.138462    0.107692  0.100000
STRUCTURE  0.000000    0.117647  0.000000

In [15]:
# create df_total where yoystack df_QUR["QUR"], df_DED, df_PL, df_NLPE
df_total = pd.concat([df_QUR, normalized_DED, df_PL, df_NLPE], axis=0)
df_total

               Udop  LayoutLMv3      Blip
QUR        0.049261    0.061576  0.064039
<15        0.035912    0.052486  0.049724
15-25      0.047059    0.047059  0.009412
>25        0.024889    0.012444  0.087111
<4pg       0.091271    0.109248  0.106746
4pg-8pg    0.000000    0.117647  0.083333
>8pg       0.000000    0.000000  0.041444
NUMERIC    0.034014    0.027211  0.068027
TEMPORAL   0.042553    0.021277  0.000000
ENTITY     0.032362    0.064725  0.064725
LOCATION   0.138462    0.107692  0.100000
STRUCTURE  0.000000    0.117647  0.000000

In [16]:
# save to latex
df_total.to_latex(f'table/{dataset}_QUR_LM.tex', index=True, float_format="%.3f", escape=False)

# UR - LLM

In [17]:
order_colums=['Phi', 'Qwen', 'Molmo', 'InternVL', 'DocOwl', 'Ovis', 'Llama', 'Gemma27', 'Llava34']

In [23]:
df_QUR= pd.read_csv(f'results_w1/results/UR.csv', index_col=0)
# sort df_QUR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_QUR=df_QUR[order_colums]
# take row QUR, keeping the dataframe of 1 row and N columns
df_QUR=df_QUR.loc[['UR']] #,'UR_C1','UR_C2','UR_C3']]
df_QUR

         Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
UR  0.536984  0.881223  0.780228  0.791607  0.258179  0.791607  0.795875  0.837838  0.707681

In [24]:
df_QUR.to_latex(f'table/{dataset}_AccP.tex',index=True, float_format="%.3f", escape=False)

In [25]:
df_DED = pd.read_csv('results_w1/results/UR_PAGE_DED.csv', index_col=0)
df_DED = df_DED[order_colums]
df_DED

         Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
0   0.574965  0.881188  0.760962  0.826733  0.290665  0.838755  0.771570  0.869165  0.725601
1   0.533713  0.888889  0.793922  0.758784  0.216524  0.769231  0.823362  0.807217  0.699905
>1  0.391304  0.857971  0.817391  0.747826  0.252174  0.666667  0.811594  0.802899  0.657971

In [26]:
df_IP = pd.read_csv('results_w1/results/UR_PAGE_inpage.csv', index_col=0)
df_IP = df_IP.sort_index(ascending=True)
df_IP = df_IP[order_colums]
df_IP = df_IP.loc[['UR_inpage']]
df_IP

                Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
UR_inpage  0.418637  0.799722  0.620306  0.596662  0.168289  0.638387  0.638387  0.757997  0.705146

In [27]:
df_OP = pd.read_csv('results_w1/results/UR_PAGE_outpage.csv', index_col=0)
df_OP = df_OP.sort_index(ascending=True)
df_OP = df_OP[order_colums]
df_OP = df_OP.loc[['UR_outpage']]
df_OP

                Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
UR_outpage  0.57764  0.909221  0.835165  0.858576  0.289059  0.844243  0.849976  0.865265  0.708552

In [28]:
df_NLPE = pd.read_csv('results_w1/results/UR_NLPE.csv', index_col=0)
df_NLPE = df_NLPE[order_colums]
df_NLPE

                Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
NUMERIC    0.595146  0.890291  0.820388  0.801942  0.278641  0.799029  0.829126  0.835922  0.714563
TEMPORAL   0.587413  0.970280  0.944056  0.921329  0.304196  0.896853  0.949301  0.849650  0.774476
ENTITY     0.494753  0.828586  0.667666  0.770615  0.230885  0.775612  0.702149  0.829085  0.656672
LOCATION   0.581848  0.904376  0.808752  0.722853  0.194489  0.703404  0.752026  0.824959  0.748784
STRUCTURE  0.540404  0.843434  0.681818  0.717172  0.111111  0.732323  0.777778  0.767677  0.782828

In [29]:
# create df_total where yoystack df_QUR["QUR"], df_DED, df_PL, df_NLPE
df_total = pd.concat([df_QUR, df_DED, df_IP, df_OP, df_NLPE], axis=0)
df_total

                 Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
UR          0.536984  0.881223  0.780228  0.791607  0.258179  0.791607  0.795875  0.837838  0.707681
0           0.574965  0.881188  0.760962  0.826733  0.290665  0.838755  0.771570  0.869165  0.725601
1           0.533713  0.888889  0.793922  0.758784  0.216524  0.769231  0.823362  0.807217  0.699905
>1          0.391304  0.857971  0.817391  0.747826  0.252174  0.666667  0.811594  0.802899  0.657971
UR_inpage   0.418637  0.799722  0.620306  0.596662  0.168289  0.638387  0.638387  0.757997  0.705146
UR_outpage  0.577640  0.909221  0.835165  0.858576  0.289059  0.844243  0.849976  0.865265  0.708552
NUMERIC     0.595146  0.890291  0.820388  0.801942  0.278641  0.799029  0.829126  0.835922  0.714563
TEMPORAL    0.587413  0.970280  0.944056  0.921329  0.304196  0.896853  0.949301  0.849650  0.774476
ENTITY      0.494753  0.828586  0.667666  0.770615  0.230885  0.775612  0.702149  0.829085  0.656672
LOCATION    0.581848  0.904376  0.808752  0.722853  0.194489  0.703404  0.752026  0.824959  0.748784
STRUCTURE   0.540404  0.843434  0.681818  0.717172  0.111111  0.732323  0.777778  0.767677  0.782828

In [30]:
# save to latex
df_total.to_latex(f'table/{dataset}_UR.tex', index=True, float_format="%.3f", escape=False)

# UR - LM

In [31]:
order_colums=['Udop', 'LayoutLMv3', 'Blip']

In [33]:
df_QUR= pd.read_csv(f'results_LM_w1/results/UR.csv', index_col=0)
# sort df_QUR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_QUR=df_QUR[order_colums]
# take row QUR, keeping the dataframe of 1 row and N columns
df_QUR=df_QUR.loc[['UR']] #,'UR_C1','UR_C2','UR_C3']]
df_QUR

        Udop  LayoutLMv3      Blip
UR  0.125178     0.35633  0.257468

In [34]:
df_QUR.to_latex(f'table/{dataset}_AccP_LM.tex',index=True, float_format="%.3f", escape=False)

In [35]:
df_DED = pd.read_csv('results_LM_w1/results/UR_PAGE_DED.csv', index_col=0)
df_DED = df_DED[order_colums]
df_DED

        Udop  LayoutLMv3      Blip
0   0.147808    0.422207  0.263791
1   0.083571    0.297246  0.268756
>1  0.159420    0.266667  0.197101

In [36]:
df_IP = pd.read_csv('results_LM_w1/results/UR_PAGE_inpage.csv', index_col=0)
df_IP = df_IP.sort_index(ascending=True)
df_IP = df_IP[order_colums]
df_IP = df_IP.loc[['UR_inpage']]
df_IP

               Udop  LayoutLMv3      Blip
UR_inpage  0.111266    0.335188  0.207232

In [37]:
df_OP = pd.read_csv('results_LM_w1/results/UR_PAGE_outpage.csv', index_col=0)
df_OP = df_OP.sort_index(ascending=True)
df_OP = df_OP[order_colums]
df_OP = df_OP.loc[['UR_outpage']]
df_OP

                Udop  LayoutLMv3      Blip
UR_outpage  0.129957    0.363593  0.274725

In [38]:
df_NLPE = pd.read_csv('results_LM_w1/results/UR_NLPE.csv', index_col=0)
df_NLPE = df_NLPE[order_colums]
df_NLPE

               Udop  LayoutLMv3      Blip
NUMERIC    0.111650    0.316505  0.220388
TEMPORAL   0.097902    0.298951  0.351399
ENTITY     0.134433    0.423788  0.250875
LOCATION   0.090762    0.291734  0.249595
STRUCTURE  0.161616    0.373737  0.267677

In [39]:
# create df_total where yoystack df_QUR["QUR"], df_DED, df_PL, df_NLPE
df_total = pd.concat([df_QUR, df_DED, df_IP, df_OP, df_NLPE], axis=0)
df_total

                Udop  LayoutLMv3      Blip
UR          0.125178    0.356330  0.257468
0           0.147808    0.422207  0.263791
1           0.083571    0.297246  0.268756
>1          0.159420    0.266667  0.197101
UR_inpage   0.111266    0.335188  0.207232
UR_outpage  0.129957    0.363593  0.274725
NUMERIC     0.111650    0.316505  0.220388
TEMPORAL    0.097902    0.298951  0.351399
ENTITY      0.134433    0.423788  0.250875
LOCATION    0.090762    0.291734  0.249595
STRUCTURE   0.161616    0.373737  0.267677

In [40]:
# save to latex
df_total.to_latex(f'table/{dataset}_UR_LM.tex', index=True, float_format="%.3f", escape=False)

# INPAGE - LLM

In [10]:
order_colums=['Phi', 'Qwen', 'Molmo', 'InternVL', 'DocOwl', 'Ovis', 'Llama', 'Gemma27', 'Llava34']

In [5]:
df_QP = pd.read_csv('results_w1/results/UR_PAGE_QP.csv', index_col=0)
df_QP = df_QP[order_colums]
df_QP

                   Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
TOP_LEFT      0.271942  0.676259  0.499281  0.473381  0.079137  0.506475  0.490647  0.663309  0.686331
TOP_RIGHT     0.468619  0.845188  0.669456  0.652720  0.313808  0.698745  0.719665  0.803347  0.665272
BOTTOM_LEFT   0.376812  0.811594  0.652174  0.660870  0.081159  0.695652  0.672464  0.736232  0.701449
BOTTOM_RIGHT  0.525210  0.899160  0.789916  0.722689  0.340336  0.705882  0.802521  0.823529  0.714286

In [6]:
df_QP.to_latex(f'table/{dataset}_AccP_QP.tex',index=True, float_format="%.3f", escape=False)

In [13]:
df_DED = pd.read_csv('results_w1/results/UR_PAGE_DE.csv', index_col=0)
df_DED = df_DED[order_colums]
df_DED = df_DED.loc[['title', 'plain text', 'figure', 'table', 'abandon']]
df_DED

                 Phi      Qwen     Molmo  InternVL    DocOwl      Ovis     Llama   Gemma27   Llava34
title       0.222222  0.527778  0.444444  0.444444  0.111111  0.388889  0.388889  0.583333  0.666667
plain text  0.453831  0.823183  0.624754  0.656189  0.196464  0.709234  0.646365  0.799607  0.721022
figure      0.423529  0.800000  0.576471  0.400000  0.105882  0.352941  0.647059  0.623529  0.694118
table       0.162393  0.735043  0.641026  0.444444  0.119658  0.529915  0.581197  0.675214  0.606838
abandon     0.700000  0.800000  0.766667  0.700000  0.066667  0.700000  0.800000  0.833333  0.766667

In [14]:
df_DED.to_latex(f'table/{dataset}_AccP_DED.tex',index=True, float_format="%.3f", escape=False)

# INPAGE - LM

In [16]:
order_colums=['Udop', 'LayoutLMv3', 'Blip']

In [8]:
df_QP = pd.read_csv('results_LM_w1/results/UR_PAGE_QP.csv', index_col=0)
df_QP = df_QP[order_colums]
df_QP

                  Udop  LayoutLMv3      Blip
TOP_LEFT      0.038849    0.250360  0.189928
TOP_RIGHT     0.154812    0.347280  0.133891
BOTTOM_LEFT   0.133333    0.417391  0.220290
BOTTOM_RIGHT  0.159664    0.394958  0.176471

In [9]:
df_QP.to_latex(f'table/{dataset}_AccP_QP_LM.tex',index=True, float_format="%.3f", escape=False)

In [17]:
df_DED = pd.read_csv('results_LM_w1/results/UR_PAGE_DE.csv', index_col=0)
df_DED = df_DED[order_colums]
df_DED = df_DED.loc[['title', 'plain text', 'figure', 'table', 'abandon']]
df_DED

                Udop  LayoutLMv3      Blip
title       0.083333    0.194444  0.000000
plain text  0.104126    0.383104  0.182711
figure      0.176471    0.329412  0.317647
table       0.008547    0.162393  0.239316
abandon     0.633333    0.266667  0.100000

In [18]:
df_DED.to_latex(f'table/{dataset}_AccP_DED_LM.tex',index=True, float_format="%.3f", escape=False)

# OLD

In [ ]:
metrics ={
    "QUR": ["QUR""],
    "QUR_DED": ["<15", "15-20", "UR_C3"],	
    "OPAR": ["Percentage_C1", "Percentage_C2", "Percentage_C3"],
    "ANSL": ["ANSL_C1", "ANSL_C2", "ANSL_C3"],
    "CEPAR": ["Percentage_C1", "Percentage_C2", "Percentage_C3"],
    "QEWR": ["Percentage_C1", "Percentage_C2", "Percentage_C3"],
}

In [ ]:
final_results = pd.DataFrame()
for key, value in metrics.items():
    metric_results = pd.DataFrame()
    print(f"Metric: {key}")
    for model in ['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']:
        data_model = []
        print(f"\t\tModel: {model}")
        for folder in ["results_w1", "results_w1_ocr", "results_w1_unable", "results_w1_ocr_unable"]:
            print(f"\t\t\tFolder: {folder}")
            df_QUR_W2 = pd.read_csv(f'{folder}/results/{dataset}_{key}.csv', index_col=0)
            if "ocr" in folder:
                df_QUR_W2['Molmo'] = [0 for el in df_QUR_W2['Qwen'].values]
            df_QUR_W2 = df_QUR_W2[['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']]
            # select the model
            df_QUR_W2 = df_QUR_W2[[model]]
            data=[]
            for k in value:
                data.append(df_QUR_W2.loc[df_QUR_W2.index == k].values[0][0])
            data_model.append(data)

        # print(f"Model: {model}")
        # make the dataframe
        data_model = pd.DataFrame(data_model, columns=["C1", "C2", "C3"])
        data_model.index = ["Explicit", "OCR + Excplicit", "None", "OCR"]
        # pivot the dataframe
        data_model = data_model.T
        # print(data_model)
        metric_results = pd.concat([metric_results, data_model], axis=1)
    # set external index with the metric name
    metric_results.index = pd.MultiIndex.from_product([[key], metric_results.index])
    final_results = pd.concat([final_results, metric_results], axis=0)

# print(final_results)
categories = ["Explicit", "OCR + Explicit", "None", "OCR"]
models = ['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']
column_tuples = [(model, category) for model in models for category in categories]
final_results.columns = pd.MultiIndex.from_tuples(column_tuples, names=['', ''])

final_results = final_results.round(3)

# print(final_results)
print(final_results.to_latex())
# save the results in latex
final_results.to_latex(f"tables/{dataset}_results.tex")

In [ ]:
final_results = pd.DataFrame()
layouts = ["plain text", "figure", "table", "title", "abandon"]
final_results = pd.DataFrame()
metric="CEPAR_PLT"
for lay in layouts:
    layout_results = pd.DataFrame()
    print(f"Layout: {lay}")
    for model in ['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']:
        print(f"\t\tModel: {model}")
        data=[]
        for folder in ["results_w1", "results_w1_ocr", "results_w1_unable", "results_w1_ocr_unable"]:
            print(f"\t\t\tFolder: {folder}")
            type=["","C1","C2","C3"]
            tmp=[]
            for t in type:
                if t == "":
                    df_QUR_W2 = pd.read_csv(f'{folder}/results/{dataset}_{metric}.csv', index_col=0)
                else:
                    df_QUR_W2 = pd.read_csv(f'{folder}/results/{dataset}_{metric}_{t}.csv', index_col=0)
                # df_QUR_W2 = pd.read_csv(f'{folder}/results/{dataset}_{key}.csv', index_col=0)
                if "ocr" in folder:
                    df_QUR_W2['Molmo'] = [0 for el in df_QUR_W2['Qwen'].values]
                df_QUR_W2 = df_QUR_W2[['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']]
                # select the model
                df_QUR_W2 = df_QUR_W2[[model]]
                tmp.append(df_QUR_W2.loc[df_QUR_W2.index == lay].values[0][0])
            data.append(tmp)

        # print(f"Model: {model}")
        # make the dataframe
        data_model = pd.DataFrame(data, columns=["TOT","C1", "C2", "C3"])
        print(data_model)
        data_model.index = ["Explic", "OCR\nExcplic", "None", "OCR"]
        # pivot the dataframe
        data_model = data_model.T
        # print(data_model)
        layout_results = pd.concat([layout_results, data_model], axis=1)
    # set external index with the metric name
    layout_results.index = pd.MultiIndex.from_product([[lay], layout_results.index])
    final_results = pd.concat([final_results, layout_results], axis=0)

# print(final_results)
categories = ["Explic", "OCR\nExplic", "None", "OCR"]
models = ['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']
column_tuples = [(model, category) for model in models for category in categories]
final_results.columns = pd.MultiIndex.from_tuples(column_tuples, names=['', ''])

final_results = final_results.round(3)

# print(final_results)
print(final_results.to_latex())
# save the results in latex
final_results.to_latex(f"tables/{dataset}_results_CEPAR_layout.tex")

In [ ]:
final_results = pd.DataFrame()
layouts = ["Match Entity Rate", "Match Layout Rate", "Hallucination Rate"]
final_results = pd.DataFrame()
metric="AEMR_ALMR_HR"
for lay in layouts:
    layout_results = pd.DataFrame()
    print(f"Layout: {lay}")
    for model in ['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']:
        print(f"\t\tModel: {model}")
        data=[]
        for folder in ["results_w1", "results_w1_ocr", "results_w1_unable", "results_w1_ocr_unable"]:
            print(f"\t\t\tFolder: {folder}")
            type=["","C1","C2","C3"]
            tmp=[]
            for t in type:
                if t == "":
                    df_QUR_W2 = pd.read_csv(f'{folder}/results/{dataset}_{metric}.csv', index_col=0)
                else:
                    df_QUR_W2 = pd.read_csv(f'{folder}/results/{dataset}_{metric}_{t}.csv', index_col=0)
                # df_QUR_W2 = pd.read_csv(f'{folder}/results/{dataset}_{key}.csv', index_col=0)
                if "ocr" in folder:
                    df_QUR_W2['Molmo'] = [0 for el in df_QUR_W2['Qwen'].values]
                df_QUR_W2 = df_QUR_W2[['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']]
                # select the model
                df_QUR_W2 = df_QUR_W2[[model]]
                tmp.append(df_QUR_W2.loc[df_QUR_W2.index == lay].values[0][0])
            data.append(tmp)

        # print(f"Model: {model}")
        # make the dataframe
        data_model = pd.DataFrame(data, columns=["TOT","C1", "C2", "C3"])
        print(data_model)
        data_model.index = ["Explic", "OCR\nExcplic", "None", "OCR"]
        # pivot the dataframe
        data_model = data_model.T
        # print(data_model)
        layout_results = pd.concat([layout_results, data_model], axis=1)
    # set external index with the metric name
    layout_results.index = pd.MultiIndex.from_product([[lay], layout_results.index])
    final_results = pd.concat([final_results, layout_results], axis=0)

# print(final_results)
categories = ["Explic", "OCR\nExplic", "None", "OCR"]
models = ['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']
column_tuples = [(model, category) for model in models for category in categories]
final_results.columns = pd.MultiIndex.from_tuples(column_tuples, names=['', ''])

final_results = final_results.round(3)

# print(final_results)
print(final_results.to_latex())
# save the results in latex
final_results.to_latex(f"tables/{dataset}_results_{metric}.tex")

In [ ]:
final_results = pd.DataFrame()
layouts = ["plain text", "figure", "table", "title", "abandon"]
final_results = pd.DataFrame()
metric="CEPAR_PLT"
for lay in layouts:
    layout_results = pd.DataFrame()
    print(f"Layout: {lay}")
    for model in ['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']:
        print(f"\t\tModel: {model}")
        data=[]
        for folder in ["results_w1", "results_w1_ocr", "results_w1_unable", "results_w1_ocr_unable"]:
            print(f"\t\t\tFolder: {folder}")
            type=["","C1","C2","C3"]
            tmp=[]
            for t in type:
                if t == "":
                    df_QUR_W2 = pd.read_csv(f'{folder}/results/{dataset}_{metric}.csv', index_col=0)
                else:
                    df_QUR_W2 = pd.read_csv(f'{folder}/results/{dataset}_{metric}_{t}.csv', index_col=0)
                # df_QUR_W2 = pd.read_csv(f'{folder}/results/{dataset}_{key}.csv', index_col=0)
                if "ocr" in folder:
                    df_QUR_W2['Molmo'] = [0 for el in df_QUR_W2['Qwen'].values]
                df_QUR_W2 = df_QUR_W2[['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']]
                # select the model
                df_QUR_W2 = df_QUR_W2[[model]]
                tmp.append(df_QUR_W2.loc[df_QUR_W2.index == lay].values[0][0])
            data.append(tmp)

        # print(f"Model: {model}")
        # make the dataframe
        data_model = pd.DataFrame(data, columns=["TOT","C1", "C2", "C3"])
        print(data_model)
        data_model.index = ["Explic", "OCR\nExcplic", "None", "OCR"]
        # pivot the dataframe
        data_model = data_model.T
        # print(data_model)
        layout_results = pd.concat([layout_results, data_model], axis=1)
    # set external index with the metric name
    layout_results.index = pd.MultiIndex.from_product([[lay], layout_results.index])
    final_results = pd.concat([final_results, layout_results], axis=0)

# print(final_results)
categories = ["Explic", "OCR\nExplic", "None", "OCR"]
models = ['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']
column_tuples = [(model, category) for model in models for category in categories]
final_results.columns = pd.MultiIndex.from_tuples(column_tuples, names=['', ''])

final_results = final_results.round(3)

# print(final_results)
print(final_results.to_latex())
# save the results in latex
final_results.to_latex(f"tables/{dataset}_results_CEPAR_layout.tex")

In [3]:
final_results = pd.DataFrame()
layouts = ["title", "plain text", "abandon", "figure", "table"]
final_results = pd.DataFrame()
metric="DEWP"
for lay in layouts:
    layout_results = pd.DataFrame()
    # print(f"Layout: {lay}")
    for model in ['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']:
        print(f"\t\tModel: {model}")
        data=[]
        for folder in ["results_w1", "results_w1_ocr", "results_w1_unable", "results_w1_ocr_unable"]:
            print(f"\t\t\tFolder: {folder}")
            type=["","C1","C2","C3"]
            tmp=[]
            for t in type:
                if t == "":
                    df_QUR_W2 = pd.read_csv(f'{folder}/results/{metric}.csv', index_col=0)
                else:
                    df_QUR_W2 = pd.read_csv(f'{folder}/results/{metric}_{t}.csv', index_col=0)
                # df_QUR_W2 = pd.read_csv(f'{folder}/results/{dataset}_{key}.csv', index_col=0)
                if "ocr" in folder:
                    df_QUR_W2['Molmo'] = [0 for el in df_QUR_W2['Qwen'].values]
                df_QUR_W2 = df_QUR_W2[['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']]
                # select the model
                df_QUR_W2 = df_QUR_W2[[model]]
                tmp.append(df_QUR_W2.loc[df_QUR_W2.index == lay].values[0][0])
            data.append(tmp)

        # print(f"Model: {model}")
        # make the dataframe
        data_model = pd.DataFrame(data, columns=["TOT","C1", "C2", "C3"])
        print(data_model)
        data_model.index = ["Explic", "OCR\nExcplic", "None", "OCR"]
        # pivot the dataframe
        data_model = data_model.T
        # print(data_model)
        layout_results = pd.concat([layout_results, data_model], axis=1)
    # set external index with the metric name
    layout_results.index = pd.MultiIndex.from_product([[lay], layout_results.index])
    final_results = pd.concat([final_results, layout_results], axis=0)

# print(final_results)
categories = ["Explic", "OCR\nExplic", "None", "OCR"]
models = ['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']
column_tuples = [(model, category) for model in models for category in categories]
final_results.columns = pd.MultiIndex.from_tuples(column_tuples, names=['', ''])

final_results = final_results.round(3)

# print(final_results)
print(final_results.to_latex())
# save the results in latex
final_results.to_latex(f"tables/{dataset}_results_{metric}.tex")

		Model: Qwen
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT    C1     C2   C3
0  0.785714  1.00  0.750  0.5
1  0.857143  1.00  0.875  0.5
2  0.142857  0.25  0.125  0.0
3  0.285714  0.50  0.250  0.0
		Model: InternVL
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT    C1     C2   C3
0  0.428571  0.75  0.250  0.5
1  0.571429  1.00  0.375  0.5
2  0.142857  0.25  0.125  0.0
3  0.285714  0.75  0.125  0.0
		Model: Phi
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT    C1     C2   C3
0  0.500000  1.00  0.125  1.0
1  0.428571  1.00  0.125  0.5
2  0.000000  0.00  0.000  0.0
3  0.142857  0.25  0.000  0.5
		Model: Molmo
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT    C1     C2   C3
0  0.357143  0.75  0.125  0.5
1  0.000000  0.00  0.000  0.0
2  0.000000  0.00  0.000  0.0
3  0.000000  0.00  0.000  0.0
		Model: Ovis
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT    C1     C2   C3
0  0.642857  1.00  0.500  0.5
1  0.500000  0.50  0.500  0.5
2  0.571429  0.75  0.500  0.5
3  0.357143  0.25  0.375  0.5
		Model: DocOwl
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT    C1     C2   C3
0  0.357143  0.50  0.375  0.0
1  0.357143  0.25  0.500  0.0
2  0.642857  0.75  0.625  0.5
3  0.357143  0.50  0.375  0.0
		Model: Qwen
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.742515  0.768116  0.764706  0.633333
1  0.790419  0.826087  0.882353  0.500000
2  0.233533  0.246377  0.176471  0.333333
3  0.263473  0.304348  0.220588  0.266667
		Model: InternVL
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.556886  0.681159  0.470588  0.466667
1  0.538922  0.623188  0.470588  0.500000
2  0.179641  0.144928  0.250000  0.100000
3  0.287425  0.333333  0.264706  0.233333
		Model: Phi
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.287425  0.304348  0.250000  0.333333
1  0.377246  0.391304  0.382353  0.333333
2  0.011976  0.014493  0.014706  0.000000
3  0.119760  0.086957  0.161765  0.100000
		Model: Molmo
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.413174  0.478261  0.367647  0.366667
1  0.000000  0.000000  0.000000  0.000000
2  0.035928  0.028986  0.000000  0.133333
3  0.000000  0.000000  0.000000  0.000000
		Model: Ovis
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.568862  0.739130  0.470588  0.400000
1  0.574850  0.724638  0.485294  0.433333
2  0.449102  0.565217  0.382353  0.333333
3  0.323353  0.304348  0.352941  0.300000
		Model: DocOwl
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.299401  0.289855  0.382353  0.133333
1  0.071856  0.072464  0.102941  0.000000
2  0.395210  0.362319  0.588235  0.033333
3  0.143713  0.115942  0.235294  0.000000
		Model: Qwen
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT   C1     C2        C3
0  0.791667  1.0  0.875  0.333333
1  0.875000  1.0  1.000  0.500000
2  0.291667  0.3  0.250  0.333333
3  0.625000  0.6  0.750  0.500000
		Model: InternVL
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT   C1     C2        C3
0  0.791667  1.0  0.750  0.500000
1  0.875000  1.0  1.000  0.500000
2  0.541667  0.7  0.500  0.333333
3  0.750000  0.9  0.875  0.333333
		Model: Phi
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT   C1     C2        C3
0  0.583333  0.8  0.500  0.333333
1  0.750000  1.0  0.625  0.500000
2  0.041667  0.0  0.125  0.000000
3  0.250000  0.2  0.250  0.333333
		Model: Molmo
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT   C1    C2        C3
0  0.625000  0.6  0.75  0.500000
1  0.000000  0.0  0.00  0.000000
2  0.041667  0.0  0.00  0.166667
3  0.000000  0.0  0.00  0.000000
		Model: Ovis
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT   C1     C2        C3
0  0.833333  1.0  1.000  0.333333
1  0.625000  0.5  1.000  0.333333
2  0.791667  1.0  0.875  0.333333
3  0.375000  0.0  0.875  0.333333
		Model: DocOwl
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT   C1     C2        C3
0  0.458333  0.5  0.625  0.166667
1  0.375000  0.4  0.500  0.166667
2  0.583333  0.6  0.875  0.166667
3  0.458333  0.5  0.625  0.166667
		Model: Qwen
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.731707  0.750000  0.794872  0.533333
1  0.817073  0.892857  0.820513  0.666667
2  0.243902  0.321429  0.282051  0.000000
3  0.304878  0.428571  0.256410  0.200000
		Model: InternVL
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.512195  0.571429  0.538462  0.333333
1  0.646341  0.857143  0.512821  0.600000
2  0.109756  0.214286  0.076923  0.000000
3  0.304878  0.571429  0.205128  0.066667
		Model: Phi
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.560976  0.500000  0.538462  0.733333
1  0.548780  0.750000  0.410256  0.533333
2  0.060976  0.035714  0.102564  0.000000
3  0.317073  0.500000  0.205128  0.266667
		Model: Molmo
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2   C3
0  0.353659  0.607143  0.307692  0.0
1  0.000000  0.000000  0.000000  0.0
2  0.024390  0.035714  0.025641  0.0
3  0.000000  0.000000  0.000000  0.0
		Model: Ovis
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.378049  0.678571  0.307692  0.000000
1  0.317073  0.535714  0.230769  0.133333
2  0.317073  0.500000  0.307692  0.000000
3  0.207317  0.250000  0.256410  0.000000
		Model: DocOwl
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2   C3
0  0.231707  0.178571  0.358974  0.0
1  0.182927  0.178571  0.256410  0.0
2  0.317073  0.392857  0.384615  0.0
3  0.231707  0.428571  0.179487  0.0
		Model: Qwen
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.653333  0.576923  0.925926  0.409091
1  0.680000  0.576923  0.925926  0.500000
2  0.160000  0.115385  0.148148  0.227273
3  0.213333  0.192308  0.259259  0.181818
		Model: InternVL
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.573333  0.461538  0.851852  0.363636
1  0.600000  0.500000  0.888889  0.363636
2  0.226667  0.153846  0.296296  0.227273
3  0.266667  0.230769  0.333333  0.227273
		Model: Phi
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.466667  0.307692  0.814815  0.227273
1  0.680000  0.692308  0.851852  0.454545
2  0.000000  0.000000  0.000000  0.000000
3  0.360000  0.423077  0.333333  0.318182
		Model: Molmo
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT   C1        C2        C3
0  0.533333  0.5  0.666667  0.409091
1  0.000000  0.0  0.000000  0.000000
2  0.066667  0.0  0.000000  0.227273
3  0.000000  0.0  0.000000  0.000000
		Model: Ovis
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.333333  0.346154  0.259259  0.409091
1  0.440000  0.307692  0.703704  0.272727
2  0.213333  0.269231  0.148148  0.227273
3  0.320000  0.115385  0.592593  0.227273
		Model: DocOwl
			Folder: results_w1
			Folder: results_w1_ocr
			Folder: results_w1_unable
			Folder: results_w1_ocr_unable
        TOT        C1        C2        C3
0  0.213333  0.115385  0.185185  0.363636
1  0.093333  0.115385  0.111111  0.045455
2  0.333333  0.192308  0.407407  0.409091
3  0.120000  0.115385  0.111111  0.136364
\begin{tabular}{llrrrrrrrrrrrrrrrrrrrrrrrr}
\toprule
 &  & \multicolumn{4}{r}{Qwen} & \multicolumn{4}{r}{InternVL} & \multicolumn{4}{r}{Phi} & \multicolumn{4}{r}{Molmo} & \multicolumn{4}{r}{Ovis} & \multicolumn{4}{r}{DocOwl} \\
 &  & Explic & OCR
Explic & None & OCR & Explic & OCR
Explic & None & OCR & Explic & OCR
Explic & None & OCR & Explic & OCR
Explic & None & OCR & Explic & OCR
Explic & None & OCR & Explic & OCR
Explic & None & OCR \\
\midrule
\multirow[t]{4}{*}{title} & TOT & 0.786000 & 0.857000 & 0.143000 & 0.286000 & 0.429000 & 0.571000 & 0.143000 & 0.286000 & 0.500000 & 0.429000 & 0.000000 & 0.143000 & 0.357000 & 0.000000 & 0.000000 & 0.000000 & 0.643000 & 0.500000 & 0.571000 & 0.357000 & 0.357000 & 0.357000 & 0.643000 & 0.357000 \\
 & C1 & 1.000000 & 1.000000 & 0.250000 & 0.500000 & 0.750000 & 1.000000 & 0.250000 & 0.750000 & 1.000000 & 1.000000 & 0.000000 & 0.250000 & 0.750000 & 0.000000 & 0.000000 & 0.000000 & 1.000000 & 0.500000 & 0.750000 & 0.250000 & 0.500000 & 0.250000 & 0.750000 & 0.500000 \\
 & C2 & 0.750000 & 0.875000 & 0.125000 & 0.250000 & 0.250000 & 0.375000 & 0.125000 & 0.125000 & 0.125000 & 0.125000 & 0.000000 & 0.000000 & 0.125000 & 0.000000 & 0.000000 & 0.000000 & 0.500000 & 0.500000 & 0.500000 & 0.375000 & 0.375000 & 0.500000 & 0.625000 & 0.375000 \\
 & C3 & 0.500000 & 0.500000 & 0.000000 & 0.000000 & 0.500000 & 0.500000 & 0.000000 & 0.000000 & 1.000000 & 0.500000 & 0.000000 & 0.500000 & 0.500000 & 0.000000 & 0.000000 & 0.000000 & 0.500000 & 0.500000 & 0.500000 & 0.500000 & 0.000000 & 0.000000 & 0.500000 & 0.000000 \\
\cline{1-26}
\multirow[t]{4}{*}{plain text} & TOT & 0.743000 & 0.790000 & 0.234000 & 0.263000 & 0.557000 & 0.539000 & 0.180000 & 0.287000 & 0.287000 & 0.377000 & 0.012000 & 0.120000 & 0.413000 & 0.000000 & 0.036000 & 0.000000 & 0.569000 & 0.575000 & 0.449000 & 0.323000 & 0.299000 & 0.072000 & 0.395000 & 0.144000 \\
 & C1 & 0.768000 & 0.826000 & 0.246000 & 0.304000 & 0.681000 & 0.623000 & 0.145000 & 0.333000 & 0.304000 & 0.391000 & 0.014000 & 0.087000 & 0.478000 & 0.000000 & 0.029000 & 0.000000 & 0.739000 & 0.725000 & 0.565000 & 0.304000 & 0.290000 & 0.072000 & 0.362000 & 0.116000 \\
 & C2 & 0.765000 & 0.882000 & 0.176000 & 0.221000 & 0.471000 & 0.471000 & 0.250000 & 0.265000 & 0.250000 & 0.382000 & 0.015000 & 0.162000 & 0.368000 & 0.000000 & 0.000000 & 0.000000 & 0.471000 & 0.485000 & 0.382000 & 0.353000 & 0.382000 & 0.103000 & 0.588000 & 0.235000 \\
 & C3 & 0.633000 & 0.500000 & 0.333000 & 0.267000 & 0.467000 & 0.500000 & 0.100000 & 0.233000 & 0.333000 & 0.333000 & 0.000000 & 0.100000 & 0.367000 & 0.000000 & 0.133000 & 0.000000 & 0.400000 & 0.433000 & 0.333000 & 0.300000 & 0.133000 & 0.000000 & 0.033000 & 0.000000 \\
\cline{1-26}
\multirow[t]{4}{*}{abandon} & TOT & 0.792000 & 0.875000 & 0.292000 & 0.625000 & 0.792000 & 0.875000 & 0.542000 & 0.750000 & 0.583000 & 0.750000 & 0.042000 & 0.250000 & 0.625000 & 0.000000 & 0.042000 & 0.000000 & 0.833000 & 0.625000 & 0.792000 & 0.375000 & 0.458000 & 0.375000 & 0.583000 & 0.458000 \\
 & C1 & 1.000000 & 1.000000 & 0.300000 & 0.600000 & 1.000000 & 1.000000 & 0.700000 & 0.900000 & 0.800000 & 1.000000 & 0.000000 & 0.200000 & 0.600000 & 0.000000 & 0.000000 & 0.000000 & 1.000000 & 0.500000 & 1.000000 & 0.000000 & 0.500000 & 0.400000 & 0.600000 & 0.500000 \\
 & C2 & 0.875000 & 1.000000 & 0.250000 & 0.750000 & 0.750000 & 1.000000 & 0.500000 & 0.875000 & 0.500000 & 0.625000 & 0.125000 & 0.250000 & 0.750000 & 0.000000 & 0.000000 & 0.000000 & 1.000000 & 1.000000 & 0.875000 & 0.875000 & 0.625000 & 0.500000 & 0.875000 & 0.625000 \\
 & C3 & 0.333000 & 0.500000 & 0.333000 & 0.500000 & 0.500000 & 0.500000 & 0.333000 & 0.333000 & 0.333000 & 0.500000 & 0.000000 & 0.333000 & 0.500000 & 0.000000 & 0.167000 & 0.000000 & 0.333000 & 0.333000 & 0.333000 & 0.333000 & 0.167000 & 0.167000 & 0.167000 & 0.167000 \\
\cline{1-26}
\multirow[t]{4}{*}{figure} & TOT & 0.732000 & 0.817000 & 0.244000 & 0.305000 & 0.512000 & 0.646000 & 0.110000 & 0.305000 & 0.561000 & 0.549000 & 0.061000 & 0.317000 & 0.354000 & 0.000000 & 0.024000 & 0.000000 & 0.378000 & 0.317000 & 0.317000 & 0.207000 & 0.232000 & 0.183000 & 0.317000 & 0.232000 \\
 & C1 & 0.750000 & 0.893000 & 0.321000 & 0.429000 & 0.571000 & 0.857000 & 0.214000 & 0.571000 & 0.500000 & 0.750000 & 0.036000 & 0.500000 & 0.607000 & 0.000000 & 0.036000 & 0.000000 & 0.679000 & 0.536000 & 0.500000 & 0.250000 & 0.179000 & 0.179000 & 0.393000 & 0.429000 \\
 & C2 & 0.795000 & 0.821000 & 0.282000 & 0.256000 & 0.538000 & 0.513000 & 0.077000 & 0.205000 & 0.538000 & 0.410000 & 0.103000 & 0.205000 & 0.308000 & 0.000000 & 0.026000 & 0.000000 & 0.308000 & 0.231000 & 0.308000 & 0.256000 & 0.359000 & 0.256000 & 0.385000 & 0.179000 \\
 & C3 & 0.533000 & 0.667000 & 0.000000 & 0.200000 & 0.333000 & 0.600000 & 0.000000 & 0.067000 & 0.733000 & 0.533000 & 0.000000 & 0.267000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.133000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\
\cline{1-26}
\multirow[t]{4}{*}{table} & TOT & 0.653000 & 0.680000 & 0.160000 & 0.213000 & 0.573000 & 0.600000 & 0.227000 & 0.267000 & 0.467000 & 0.680000 & 0.000000 & 0.360000 & 0.533000 & 0.000000 & 0.067000 & 0.000000 & 0.333000 & 0.440000 & 0.213000 & 0.320000 & 0.213000 & 0.093000 & 0.333000 & 0.120000 \\
 & C1 & 0.577000 & 0.577000 & 0.115000 & 0.192000 & 0.462000 & 0.500000 & 0.154000 & 0.231000 & 0.308000 & 0.692000 & 0.000000 & 0.423000 & 0.500000 & 0.000000 & 0.000000 & 0.000000 & 0.346000 & 0.308000 & 0.269000 & 0.115000 & 0.115000 & 0.115000 & 0.192000 & 0.115000 \\
 & C2 & 0.926000 & 0.926000 & 0.148000 & 0.259000 & 0.852000 & 0.889000 & 0.296000 & 0.333000 & 0.815000 & 0.852000 & 0.000000 & 0.333000 & 0.667000 & 0.000000 & 0.000000 & 0.000000 & 0.259000 & 0.704000 & 0.148000 & 0.593000 & 0.185000 & 0.111000 & 0.407000 & 0.111000 \\
 & C3 & 0.409000 & 0.500000 & 0.227000 & 0.182000 & 0.364000 & 0.364000 & 0.227000 & 0.227000 & 0.227000 & 0.455000 & 0.000000 & 0.318000 & 0.409000 & 0.000000 & 0.227000 & 0.000000 & 0.409000 & 0.273000 & 0.227000 & 0.227000 & 0.364000 & 0.045000 & 0.409000 & 0.136000 \\
\cline{1-26}
\bottomrule
\end{tabular}