In [1]:
import pandas as pd

In [2]:
dataset="DUDE"

In [26]:
folder="results_LM_w1"
if "LM" in folder:
    columns=['LayoutLMv3', 'Blip', 'Udop']
else:
    columns=['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']

In [27]:
df_QUR= pd.read_csv(f'{folder}/results/{dataset}_QUR.csv', index_col=0)
# sort df_QUR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_QUR=df_QUR[columns]
df_QUR

        LayoutLMv3      Blip      Udop
QUR       0.176471  0.090909  0.053476
QUR_C1    0.128342  0.058824  0.026738
QUR_C2    0.048128  0.026738  0.021390
QUR_C3    0.000000  0.005348  0.005348

In [28]:
df_UR= pd.read_csv(f'{folder}/results/{dataset}_UR.csv', index_col=0)
# sort df_UR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_UR=df_UR[columns]
df_UR

       LayoutLMv3      Blip      Udop
UR       0.402542  0.151483  0.155720
UR_C1    0.426396  0.167513  0.142132
UR_C2    0.385455  0.112727  0.178182
UR_C3    0.282051  0.166667  0.179487

In [29]:
df_OPAR= pd.read_csv(f'{folder}/results/{dataset}_OPAR.csv', index_col=0)
# sort df_OPAR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_OPAR=df_OPAR[columns]
df_OPAR

                   LayoutLMv3        Blip        Udop
OPAR               110.000000  157.000000  159.000000
OPAR_TXT            24.000000    5.000000    8.000000
TOT                187.000000  187.000000  187.000000
Percentage           0.588235    0.839572    0.850267
Percentage_TXT       0.128342    0.026738    0.042781
OPAR_C1             61.000000   94.000000   97.000000
OPAR_C1_TOT         15.000000    4.000000    6.000000
Percentage_C1_TOT    0.326203    0.502674    0.518717
Percentage_C1        0.080214    0.021390    0.032086
OPAR_C2             38.000000   49.000000   49.000000
OPAR_C2_TOT          9.000000    1.000000    1.000000
Percentage_C2_TOT    0.203209    0.262032    0.262032
Percentage_C2        0.048128    0.005348    0.005348
OPAR_C3             11.000000   14.000000   13.000000
OPAR_C3_TOT          0.000000    0.000000    1.000000
Percentage_C3_TOT    0.058824    0.074866    0.069519
Percentage_C3        0.000000    0.000000    0.005348

In [30]:
df_ANSL= pd.read_csv(f'{folder}/results/{dataset}_ANSL.csv', index_col=0)
# sort df_ANSL based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_ANSL=df_ANSL[columns]
df_ANSL

         LayoutLMv3  Blip  Udop
ANSL       0.005814   0.0   0.0
ANSL_C1    0.000000   0.0   0.0
ANSL_C2    0.000000   0.0   0.0
ANSL_C3    0.045455   0.0   0.0

In [31]:
df_CEPAR= pd.read_csv(f'{folder}/results/{dataset}_CEPAR.csv', index_col=0)
# sort df_CEPAR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_CEPAR=df_CEPAR[columns]
df_CEPAR

                   LayoutLMv3        Blip        Udop
CEPAR              169.000000  238.000000  244.000000
TOT                564.000000  801.000000  797.000000
Percentage           0.299645    0.297129    0.306148
CEPAR_C1            70.000000  108.000000  119.000000
TOT_C1             339.000000  492.000000  507.000000
Percengage_C1_TOT    0.124113    0.134831    0.149310
Percentage_C1        0.206490    0.219512    0.234714
CEPAR_C2            72.000000   94.000000   95.000000
TOT_C2             169.000000  244.000000  226.000000
Percengage_C2_TOT    0.127660    0.117353    0.119197
Percentage_C2        0.426036    0.385246    0.420354
CEPAR_C3            27.000000   36.000000   30.000000
TOT_C3              56.000000   65.000000   64.000000
Percengage_C3_TOT    0.047872    0.044944    0.037641
Percentage_C3        0.482143    0.553846    0.468750

In [32]:
# try:
df_AEMR_ALMR_HR= pd.read_csv(f'{folder}/results/{dataset}_AEMR_ALMR_HR.csv', index_col=0)
# sort df_AEMR_ALMR_HR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_AEMR_ALMR_HR=df_AEMR_ALMR_HR[columns]
df_AEMR_ALMR_HR
# except:
#     df_AEMR_ALMR_HR= pd.read_csv(f'/data2/dnapolitano/VQA/Corruption/VQA_analysis/results/MPDocVQA/results_w1/results/MPDocVQA_AEMR_ALMR_HR.csv', index_col=0)
#     # sort df_AEMR_ALMR_HR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
#     df_AEMR_ALMR_HR=df_AEMR_ALMR_HR[['Qwen', 'InternVL', 'Phi', 'Molmo', 'Ovis', 'DocOwl']]
#     df_AEMR_ALMR_HR

                           LayoutLMv3        Blip        Udop
Match Entity Count          69.000000   45.000000   26.000000
Match Layout Count         158.000000   78.000000   60.000000
Match Entity-Layout Count   22.000000   37.000000   11.000000
Hallucination Count        275.000000  651.000000  704.000000
Total Processed            564.000000  801.000000  797.000000
Match Entity Rate            0.122340    0.056180    0.032622
Match Layout Rate            0.280142    0.097378    0.075282
Match Entity-Layout Rate     0.039007    0.046192    0.013802
Hallucination Rate           0.487589    0.812734    0.883312

In [33]:
df_QEWR= pd.read_csv(f'{folder}/results/{dataset}_QEWR.csv', index_col=0)
# sort df_QEWR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_QEWR=df_QEWR[columns]
df_QEWR

               LayoutLMv3        Blip        Udop
QEWR           194.000000  242.000000  263.000000
TOT            564.000000  801.000000  797.000000
Percentage       0.343972    0.302122    0.329987
QEWR_C1        131.000000  177.000000  196.000000
Percentage_C1    0.232270    0.220974    0.245922
QEWR_C2         54.000000   57.000000   59.000000
Percentage_C2    0.095745    0.071161    0.074028
QEWR_C3          9.000000    8.000000    8.000000
Percentage_C3    0.015957    0.009988    0.010038

In [34]:
selected_values = {}

# Select values from each dataframe at their specific index
selected_values['QUR'] = df_QUR.loc[df_QUR.index == 'QUR'].values[0]
selected_values['UR'] = df_UR.loc[df_UR.index == 'UR'].values[0]
selected_values['OPAR'] = df_OPAR.loc[df_OPAR.index == 'Percentage'].values[0]
selected_values['ANSL'] = df_ANSL.loc[df_ANSL.index == 'ANSL'].values[0]
selected_values['CEPAR'] = df_CEPAR.loc[df_CEPAR.index == 'Percentage'].values[0]
selected_values['Hallucination_Rate'] = df_AEMR_ALMR_HR.loc[df_AEMR_ALMR_HR.index == 'Hallucination Rate'].values[0]
selected_values['Match_Entity_Rate'] = df_AEMR_ALMR_HR.loc[df_AEMR_ALMR_HR.index == 'Match Entity Rate'].values[0]
selected_values['Match_Layout_Rate'] = df_AEMR_ALMR_HR.loc[df_AEMR_ALMR_HR.index == 'Match Layout Rate'].values[0]
selected_values['QEWR'] = df_QEWR.loc[df_QEWR.index == 'Percentage'].values[0]

for key, value in selected_values.items():
    print(key, value)

# Create df_FINAL from the selected values
df_FINAL = pd.DataFrame(selected_values)
df_FINAL = df_FINAL.transpose()

df_FINAL.index = ['QUR', 'UR', 'OPAR', 'ANSL', 'CEPAR', 'Hallucination_Rate', 'Match_Entity_Rate', 'Match_Layout_Rate', 'QEWR']
df_FINAL.columns = columns
df_FINAL

QUR [0.17647059 0.09090909 0.05347594]
UR [0.40254237 0.15148305 0.15572034]
OPAR [0.58823529 0.83957219 0.85026738]
ANSL [0.00581395 0.         0.        ]
CEPAR [0.29964539 0.29712859 0.30614806]
Hallucination_Rate [0.48758865 0.81273408 0.88331242]
Match_Entity_Rate [0.12234043 0.05617978 0.03262233]
Match_Layout_Rate [0.28014184 0.09737828 0.07528231]
QEWR [0.34397163 0.30212235 0.32998745]

                    LayoutLMv3      Blip      Udop
QUR                   0.176471  0.090909  0.053476
UR                    0.402542  0.151483  0.155720
OPAR                  0.588235  0.839572  0.850267
ANSL                  0.005814  0.000000  0.000000
CEPAR                 0.299645  0.297129  0.306148
Hallucination_Rate    0.487589  0.812734  0.883312
Match_Entity_Rate     0.122340  0.056180  0.032622
Match_Layout_Rate     0.280142  0.097378  0.075282
QEWR                  0.343972  0.302122  0.329987

In [35]:
# round the values to 3 decimal places
df_FINAL = df_FINAL.round(3)

In [36]:
if "LM" in folder:
    df_FINAL.to_csv(f'{dataset}_FINAL_LM.csv')
else:
    df_FINAL.to_csv(f'{dataset}_FINAL_LLM.csv')